body {
    background-color: #f2ecec;
    font-family: Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 14px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.has-fixed-sidenav {
    padding-left: 300px;
}

nav.navbar .brand-logo {
    position: relative;
    float: left;
    font-size: 18px;
    color: rgba(0,0,0,0.87);
}