<!-- Footer -->
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s6 m3">
                <img class="materialize-logo" src="" alt="Materialize" >
                <p>Under Construction PTSI</p>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            © 2018 Copyright 
            <a class="grey-text text-lighten-4 right" href="#!"></a>
        </div>
    </div>
</footer>