{% extends '../base.html' %} 


{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12"> <h2>Dasboard </h2></div>
        <div class="col l3 m6 s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">User
                        <i class="material-icons right">people</i>
                    </span>
                    <!-- <p>
                       30
                    </p> -->
                    <div class="card-value">
                        30
                    </div>
                </div>
            </div>
        </div>
        <div class="col l3 m6 s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Report
                        <i class="material-icons right">people</i>
                    </span>
                    <div class="card-value">
                        50
                    </div>
                </div>
            </div>
        </div>
        <div class="col l3 m6 s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Documents
                        <i class="material-icons right">people</i>
                    </span>
                    <div class="card-value">
                        40
                    </div>
                </div>
            </div>
        </div>
        <div class="col l3 m6 s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Update
                        <i class="material-icons right">people</i>
                    </span>
                    <div class="card-value">
                        120
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}